@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:wght@400;500;700;800&display=swap');

.quotes_section {
  font-family: 'Wix Madefor Text', sans-serif;
  background-color: white;
  margin: 10% auto;
  padding: 30px;
  max-width: 50%;
}

.error_message,
.loading_message {
  font-size: 18px;
  text-align: center;
  font-weight: 600;
}

.quotes_container {
  text-align: center;
}

.quote {
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
  border: 1px solid black;
  padding: 30px;
}

.author {
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
}
